<router-outlet />

<div class="container mx-auto py-4">
  <div class="flex flex-row justify-between gap-x-4">

    <div class="basis-1/6 slide-in-left">
      <div class="flex flex-col gap-y-2 h-full justify-between">
        <div class="bg-white rounded-xl shadow py-4 px-6 ">
          <div class="text-2xl text-center text-gray-700 font-medium mb-2 font-inter text-shadow-lg">
            LANGUAGES
            <div class="bg-linear-to-t/hsl from-[#C7CCE6] to-[#CCCFE7] h-4 "></div>
          </div>
          <div class="grid grid-cols-2">
            <div class="font-roboto font-semibold">C#</div>
            <div class="font-roboto font-semibold">Angular</div>
            <div class="font-roboto font-semibold">TypeScript</div>
            <div class="font-roboto font-semibold">JavaScript</div>
            <div class="font-roboto font-semibold">HTML/CSS</div>
            <div class="font-roboto font-semibold">Ruby</div>
            <div class="font-roboto font-semibold">FORTRAN77</div>
            <div class="font-roboto font-semibold">C/C++</div>
            <div class="font-roboto font-semibold">VB.net</div>
            <div class="font-roboto font-semibold">ASP</div>
            <div class="font-roboto font-semibold">Xamarin</div>
            <div class="font-roboto font-semibold">SQL</div>
            <div class="font-roboto font-semibold">Postgres</div>
            <div class="font-roboto font-semibold">CouchDB</div>

          </div>

        </div>

        <div class="bg-white rounded-xl shadow py-4 px-6">
          <div class="text-2xl text-center text-gray-700 font-medium mb-2 font-inter text-shadow-lg">
            TOOLS
            <div class="bg-linear-to-t/hsl from-[#E6C7DB] to-[#E7CCDC] h-4 "></div>
          </div>
          <div class="grid grid-cols-2">
            <div class="font-roboto font-semibold">Git</div>
            <div class="font-roboto font-semibold">Selenium</div>
            <div class="font-roboto font-semibold">xUnit</div>
            <div class="font-roboto font-semibold">Postman</div>
            <div class="font-roboto font-semibold">Jira</div>
            <div class="font-roboto font-semibold">Docker</div>
            <div class="font-roboto font-semibold">AWS</div>
            <div class="font-roboto font-semibold">RabbitMQ</div>
            <div class="font-roboto font-semibold">Jenkins</div>
            <div class="font-roboto font-semibold">Visual Studio</div>
            <div class="font-roboto font-semibold">VIM</div>
            <div class="font-roboto font-semibold">CI/CD Pipes</div>
            <div class="font-roboto font-semibold">jMeter</div>
            <div class="font-roboto font-semibold">Wireshark</div>
            <div class="font-roboto font-semibold">Bash shell</div>
            <div class="font-roboto font-semibold">Nmap</div>
          </div>

        </div>
      </div>

    </div>
    <div class="card basis-4/6">
      <div class="text-center animate-text-display font-inter text-gray-700">
        Welcome. 
      </div>
      <div class="animate-text-display font-inter text-gray-700">
        For a little about myself.
        I'm a Senior Software Engineer with more than 14 years experience in the industry. I've spent a large portion of my time learning and growing my skill sets during that time. With 
      </div>
    </div>
    <div class="basis-1/6 slide-in-right">
      <div class="flex flex-col gap-y-2 h-full justify-between">
        <div class="bg-white  rounded-xl shadow py-4 px-6 ">
          <div class="text-2xl text-center text-gray-700 font-medium mb-2 font-inter text-shadow-lg">
            SKILLS
            <div class="bg-linear-to-t/hsl from-[#C7E6E2] to-[#CCE7E5] h-4 "></div>
          </div>

          <div class="grid grid-cols-1">
            <div class="font-roboto font-semibold">SOLID</div>
            <div class="font-roboto font-semibold">Clean Code</div>
            <div class="font-roboto font-semibold">Requirements Gathering</div>
            <div class="font-roboto font-semibold">Self-motivated</div>
            <div class="font-roboto font-semibold">Collaborative</div>
            <div class="font-roboto font-semibold">Mentors</div>
          </div>
        </div>

        <div class="bg-white  rounded-xl shadow py-4 px-6 h-max">
          <div class="text-2xl text-center text-gray-700 font-medium mb-2 font-inter text-shadow-lg">
            ARCHITECTURE
            <div class="bg-linear-to-t/hsl from-[#E7D7CC] to-[#E6D2C7] h-4 "></div>
          </div>

          <div class="grid grid-cols-1">
            <div class="font-roboto font-semibold">Domain Driven Design</div>
            <div class="font-roboto font-semibold">Microservices</div>
            <div class="font-roboto font-semibold">Fitness Functions</div>
            <div class="font-roboto font-semibold">Modularity</div>
            <div class="font-roboto font-semibold">Decomposition</div>
            <div class="font-roboto font-semibold">Coupling</div>
            <div class="font-roboto font-semibold">Granularity</div>
            <div class="font-roboto font-semibold">Bounded Contexts</div>
            <div class="font-roboto font-semibold">Scalability</div>
            <div class="font-roboto font-semibold">Fault-tolerance</div>
            <div class="font-roboto font-semibold">Distributed Transactions</div>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>

